.cloud {
	width: 100%;
	height: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.cloud div{
	border-radius: 100%;
	background: #fff;
	position: absolute;
	bottom: -15%;
}
.cloud div:nth-child(1){
width: 34%;
height: 64%;
min-height: 34px;
left: 2%;
}
.cloud div:nth-child(2){
width: 54%;
height: 99%;
min-height: 54px;
left: 23%;
}
.cloud div:nth-child(3){
width: 44%;
height: 84%;
min-height: 44px;
right: 2%;
}