.sun {
	z-index: 0;
}

.sun .ray {
		background: #fff;
		width: 50%;
		height: 50%;
		-webkit-transform: rotate(20deg);
		-moz-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		-o-transform: rotate(20eg);
		position: absolute;
		top: 26%;
		left: 26%;
}

.sun .ray:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: #fff;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-o-transform: rotate(135deg);
}

.sun .ball{
	width: 50%;
	height: 50%;
	background: #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
	border: 1px solid #ccc;
}